{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Welcome to my page!</h1>
    <p>
        This is the demo application for the course
        <em>Getting Started with Flask</em>
        on <a href="https://www.pluralsight.com">
        Pluralsight</a>.
    </p>

    <h2>Upload a File</h2>
    <form method="post" action="" enctype="multipart/form-data">
        <p>
            Upload File:
            <input type="file" name="file">
        </p>
        <button type="submit">Upload</button>
    </form>

    <table border=2>
        <tr>
            <td>
                Article
            </td>
            <td>
                Language
            </td>
        </tr>
        {% for key in result %}
        <tr>
            <td>
                {{ key }}
            </td>
            <td>
                {{ result[key] }}
            </td>
        </tr>
        {% endfor %}
    </table>



{% endblock %}